<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>Feil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div>
      <h1>Allematpriser.no</h1>
      <div>Kunne ikke prossessere</div>
    </div>
    <br/>
    <pre>{{message}}</pre>
    <br/>
    <div>Innstillinger for dine varsler: <a href="https://allematpriser.no/app/profile">https://allematpriser.no/app/profile</a></div>
  </body>
</html>
